body {
  background-color: #e5f9f0;
  height: 100vh;
}

div.container {
  align-content: center;
  width: 80vw;
}

div.main {
  text-align: center;
}

i.fa-heart {
  color: #ffb194;
  font-size: 2rem;
  padding: 1rem;
}

img {
  padding: 1rem;
}

.name {
  color: #cf205c;
}

p {
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

img {
  border-radius: 50%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

a, a:visited {
  color: #cf205c;
}

.social a {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  padding: 1rem;
}

a:hover {
    color: #ffb194;
    text-decoration: none;
}

/* Mobile Styling */
@media only screen
and (max-device-width: 600px)
{
   img {
     padding: 4rem;
   }

   i.fa-heart {
     font-size: 4rem;
     padding: 2rem;
   }

   h1 {
     font-size: 10rem;
   }

   p {
     padding: 2.5rem;
     font-size: 4rem;
   }

   .social a {
     font-size: 6rem;
     padding: 2.5rem;
   }
}
