body {
  overflow: hidden;
}

div.jumbotron {
  height: 100vh;
  text-align: center;
  background-color: #e0fff0;
  border-style: solid;
  border-color: #ffcb94;
  border-width: 20px;
}

img {
  border-radius: 50%;
}

h1 {
  font-family: 'Pacifico', sans-serif;
}
